@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&family=Tilt+Prism&display=swap');

*{  
font-family: 'Montserrat', sans-serif;
box-sizing: border-box; 
padding: 0;
margin: 0;  
}
:root{
--primary-color: #fdfcfc;
--secondary-color: #212121;
--color-one: #c3c6c9;
--first-color: #c8cdd1;
--second-color: #d6d8d9;
--third-color: #c3c1c1;

}
.dark-mode{
--primary-color: #212121;
--secondary-color: #fff;
--color-one: #080808;
--first-color: #040404;
--second-color: #171616;
--third-color: #201f1f;

}

body {
background: linear-gradient(-45deg, var(--third-color), var(--second-color), var(--primary-color), var(--first-color));
background-size: 400% 400%;
animation: gradient 15s ease infinite; 
min-height: 100vh;
}

@keyframes gradient {
0% {
background-position: 0% 50%;
}
50% {
background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}
  

.un, .duo, .tres, .quart, .cing, .six, .sept, .eight,.yaga,.title{
color: #fec267;
  font-family: "Tilt Prism", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}

#ring, #sidebarBtn{
color: var(--secondary-color);
}
#UI, #contentname{
color: var(--secondary-color);
transition: .3s ease-in-out;
}
#UI:is(:link, :active, :visited).active, #UD:is(:link, :active, :visited).active{
color:#fec267;
border:solid 1px;
padding-left: 8px;
padding-right: 8px;
}
#UI:hover, .back-btn:hover, #contentname:hover, #content_name:hover{
color:#fec267;
}
::-webkit-scrollbar{
display: none;
}
::-webkit-scrollbar-track{
display: none;
}
::-webkit-scrollbar-thumb{
display: none;
}
.navbar{
background: var(--primary-color);
box-shadow: inset -5px -5px 5px transparent,
inset 5px 5px 5px var(--color-one);
transition: 0.5s;  
}
.navbar1{
transition: 0.5s;
height: 500px;
}
.navbar1.reduce{
height: 60px;
}
.navbar1 h1{
font-size: 80px;
    font-family: "Rubik Spray Paint", system-ui;
    font-weight: 400;
    font-style: normal;
    transition: 0.5s;
    color: #fff;
  }
.navbar1 h1.reduce{
font-size: 25px;
}
.back-btn{
cursor: pointer;
padding: 10px 17px;
position: absolute;
left: 20px;
top: 15px;
color: var(--secondary-color);
background: var(--second-color);
}

/* REVEALING NAME */

/* An animation that will move the h1 from the mid-bottom to the top*/ 
.one{opacity: 0;animation: first 5s ease-in-out forwards;position: relative;}
@keyframes first{
0%{opacity: 0;top: 30px;}
100%{opacity: 1;top: 0px;}
}

/* An Animation that will move the h2 from the left hand side to the right hand side one after the other*/
.un{opacity: 0;animation: second 2s cubic-bezier(0.23, 1, 0.320, 1) 1.1s forwards;position: relative;}
@keyframes second{
0%{opacity: 0;left: 0;}
100%{opacity: 1;left: 0;}
}
.duo{opacity: 0;animation: third 2s cubic-bezier(0.23, 1, 0.320, 1) 1.2s forwards;position: relative;}
@keyframes third{
0%{opacity: 0;left: 0;}
100%{opacity: 1;left: 0;}
}
.tres{opacity: 0;animation: fourth 2s cubic-bezier(0.23, 1, 0.320, 1) 1.3s forwards;position: relative;}
@keyframes fourth{
0%{opacity: 0;left: 0;}
100%{opacity: 1;left: 0;}
}
.quart{opacity: 0;animation: fifth 2s cubic-bezier(0.23, 1, 0.320, 1) 1.4s forwards;position: relative;}
@keyframes fifth{
0%{opacity: 0;left: 0;}
100%{opacity: 1;left: 0;}
}
.cing{opacity: 0;animation: six 2s cubic-bezier(0.23, 1, 0.320, 1) 1.5s forwards;position: relative;}
@keyframes six{
0%{opacity: 0;left: 0;}
100%{opacity: 1;left: 0;}
}
.six{opacity: 0;animation: seven 2s cubic-bezier(0.23, 1, 0.320, 1) 1.6s forwards;position: relative;}
@keyframes seven{
0%{opacity: 0;left: 0;}
100%{opacity: 1;left: 0;}
}
.sept{opacity: 0;animation: eight 2s cubic-bezier(0.23, 1, 0.320, 1) 1.7s forwards;position: relative;}
@keyframes eight{
0%{opacity: 0;left: 0;}
100%{opacity: 1;left: 0;}
}
.eight{opacity: 0;animation: nine 2s cubic-bezier(0.23, 1, 0.320, 1) 1.8s forwards;position: relative;}
@keyframes nine{
0%{opacity: 0;left: 0;}
100%{opacity: 1;left: 0;}
}
.nine{opacity: 0;animation: ten 2s cubic-bezier(0.23, 1, 0.320, 1) 1.9s forwards;position: relative;}
@keyframes ten{
0%{opacity: 0;left: 0;}
100%{opacity: 1;left: 0;}
}
.ten{opacity: 0;animation: elev 2s cubic-bezier(0.23, 1, 0.320, 1) 2.0s forwards;position: relative;}
@keyframes elev{
0%{opacity: 0;left: 0;}
100%{opacity: 1;left: 0;}
}
/* REVEALING NAME */



/* SIDEBAR */
.sidebar{
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: var(--primary-color);
overflow: hidden;
padding-top: 60px;
transition: 0.5s;
}
.sidebar.open{
width: 250px;
}

.sidebar h1 {padding: 8px 8px 8px 20px;
font-size: 30px;
color: var(--secondary-color);
display: block;
transition: 0.3s;
text-align: center;
font-weight: lighter;
}
.sidebar a {
padding: 8px 8px 8px 20px;
text-decoration: none;
font-size: 25px;
color: var(--secondary-color);
display: block;
transition: 0.3s;
text-align: center;
font-weight: lighter;
}
.sidebar #content_name{
color: var(--secondary-color);
}
.sidebar a:hover{
color: #f1f1f1;
}

/* SIDEBAR */

  /* SEARCHBAR DROPDOWN */
  
.overlay{
  height: 0px;
  overflow: hidden;
}
.overlay.open{
height: 100%;
}
.overlay form{
  transition: 0.5s;
}
/* SEARCHBAR DROPDOWN */


/* BODY */
a.what{
background: rgb(235, 59, 59);
transition: 0.5s;
color: #fff;
}
a.what:hover{
border: solid 1.5px red;
color: rgb(235, 59, 59);
background: transparent;
padding-right: 15px;
} 
.what i{
transition: 0.5s;  
}  
.what:hover i{
transform: translateX(10px) rotate(-40deg);  
}  

.card{
width: 100%;
}
.card .imgBx{
position: relative;
width: 100%;
height: 310px;
overflow: hidden;
}
.card .imgBx img{
position: absolute;
top: 0;
left: 0;
background: #f2f2f2;
width: 100%;
height: 100%;
object-fit: cover;
transition: 0.5s ease-in-out;
transform-origin: right;
}
.card:hover .imgBx img{
transform: scale(1.5);
}
.card.wow{
  height: 300px;
 overflow: hidden;
}
.card.wow img{
  width: 100%;
   display: block;
   height: 100%;
   object-fit: cover;
   transition: transform 0.5s;
}
.card.wow .card-body{
width: 100%;
background: linear-gradient(transparent, #1c1c1c);
position: absolute; 
left: 0; bottom: 0;
overflow: hidden; 
flex-direction: column;
padding: 0 ;
text-align: center;
transition: height 0.5s;
color: #fff;
height: 0;
}
.card.wow:hover .card-body{
  height: 100%;
}
.action{
position: absolute;
top: 10px;
right: 10px;
z-index: 1;
}
.action a li{
position: relative;
list-style: none;
width: 40px;
height: 40px;
background: #fff;
display: flex;
align-items: center;
justify-content: center;
margin: 4px;
cursor: pointer;
transform: translateX(60px);
transition: transform 0.5s;
}
.card:hover .action a li{
transform: translateX(0px);
}
a li:hover{
background: #fec267;
color: white;
}
.action a li:nth-child(2){
  background-color: red;
  transition-delay: 0.3s;
}
.voo{
position: absolute;
right: 50px;
top: 50%;
transform: translateY(-50%) translateX(-20px);
white-space: nowrap;
padding: 4px 6px;
background: #fff;
color: #333;
font-weight: 500;
font-size: 12px;
border-radius: 4px;
pointer-events: none;
opacity: 0;
transition: 0.5s;
}
a li:hover .voo{
transform: translateY(-50%) translateX(0px);
opacity: 1;
}
.voo::before{
content: '';
position: absolute;
top: 50%;
right: -4px;
width: 8px;
height: 8px;
background: #fff;
transform: translateY(-50%) rotate(45deg);

}
.content{
padding: 10px;
}
.productName h6{
font-size: 18px;
font-weight: 500;
margin: 5px 0;
}
.price_rating{
display: flex;
justify-content: space-between;
align-items: center;
}
h3{
font-size: 20px;
color: #ff2020;
font-weight: 500;
}
.fa{
cursor: pointer;
}
.fa-star{
color: #ffd513;
pointer-events: none;
}
.card.big{
  min-width: 15%;
  height: 70vh;
  margin: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  transition: 0.5s;
  overflow: hidden;
}
.card.big div{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.card.big .paragraph{
  background: #3333336f; 
  transform: rotate(90deg); 
   font-size: 80px;
   border: solid #040404 2px;
 }
.card.big h1,.card.big h4{
  transition: 0.5s;
  display: none;
 }
 .card.big:hover div{
  background:linear-gradient(to top, black,transparent, transparent) ;
  align-items: start;
  justify-content: end;
  flex-direction: column;
}
.card.big:hover .paragraph{
  font-size: 20px;
  background: #fec267;
  transform: rotate(0deg); 
border: none;
height: initial;   
color: #040404;
 }
.card.big:hover{
  min-width: 25%;
}
.card.big:hover h1{
  display: -webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:1; overflow:hidden; height:px;
  }
.card.big:hover h4{
  display: -webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:1; overflow:hidden; height:px;
  }
  
/* BODY */



.scrollTop{
position: fixed;
bottom: 20px;
right: 20px;
height: 50px;
width: 50px;
background: #D4D4D6;
color: black;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
border-radius: 50%;
background-size: 40px;
cursor: pointer;
z-index: 100000;
visibility: hidden;
opacity: 0;
transition: 0.5s;
font-weight: bolder;
font-size: x-large;
}
.scrollTop.active{
visibility: visible;
opacity: 0.7;
}
.scrollTop.active:hover{
opacity: 1;
}
.social-bar{
  display: flex;
  justify-content: space-evenly;
}
a.social{
  height: px;
  width: px;
  transition: 0.5s;
  color: #fff;
  border: none;
  text-align: center;
  padding: 0%;
  }
a.social:hover{
  width: max-content;
  background: transparent;
  border: solid 2px #fec267;
  /* color:#fec267; */
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  align-items: center;
}
a.social:hover::after{
  padding-inline-start: 3%;
  color: #fff;
  font-size:large;
}
a.social:first-child:hover::after{
  content: "facebook";
  }
a.social:nth-child(2):hover::after{
  content: "instagram";
 }
a.social:nth-child(3):hover::after{
  content: "twitter";
 }
a.social:nth-child(4):hover::after{
  content: "Whatsapp";
 }
a.social:nth-child(5):hover::after{
  content: "mail";
 }
.more{
    font-size: 20px; 
    background: #fec267;
    transition: 0.5s;
  }
  .more i{
    display: none;
    transition-delay: 1s;
  }
  .more:hover{
  border: solid 1.5px #fec267;
  background: none;
  } 
  .more:hover i{
    display: inline;
  }
  @media screen and (max-width:750px) {
    .card.big{
    min-width: 30%;
    }
    .card.big:hover{
      min-width: 50%;
    }    
    }
    @media screen and (max-width:500px) {
      .card.big{
      min-width: 40%;
      }
      .card.big:hover{
        min-width: 75%;
      }
      }
      @media screen and (max-width:400px) {
        .card.big{
        min-width: 45%;
        }
        .card.big:hover{
          min-width: 100%;
        }   
        a.social{
          height: 50px;
          width: 80px;
          }
             
        }
                 
